/* Data Input section style */
.DataInput {
    background-color: #580f0f;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
  }

  .button-group {
    margin-top: 10px;
    text-align: right;
  }

