/* Title text Animation */
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 10px rgba(132, 94, 13, 0.7), 0 0 20px rgba(46, 1, 105, 1), 0 0 30px rgba(0, 180, 219, 0.3);
  z-index: 1;
}

.svg {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
  }
  .blend {
    mix-blend-mode: multiply;
  }
  .isolate {
    isolation: isolate;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
.DataInput {
  background-color: red;
  font-size: 50px;
}
